1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.
- 10 rows
- 50 columns
- 1 <= x <= 500

In [56]:
import numpy as np
import random
import pandas as pd

In [57]:
row, col = 10,50
rand_df = pd.DataFrame([[random.randint(1,500) for x in range(col)]for y in range(row)])

In [58]:
rand_df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,382,114,446,154,24,49,92,252,128,117,...,53,42,8,238,450,288,255,269,77,322
1,161,233,85,18,250,182,325,426,367,435,...,406,345,222,261,206,111,270,157,328,144
2,103,434,207,23,475,290,373,202,291,127,...,206,477,17,205,3,145,57,243,334,156
3,355,476,174,138,465,441,171,211,357,449,...,360,95,169,486,365,300,499,416,172,380
4,258,23,166,237,51,221,256,163,429,87,...,25,21,37,227,110,340,18,500,169,149
5,84,153,106,143,45,131,150,402,132,255,...,227,174,313,395,364,221,344,393,401,304
6,353,305,90,320,424,455,374,445,7,378,...,141,385,200,458,342,365,132,303,149,27
7,199,315,460,497,22,295,32,408,93,235,...,196,10,10,330,283,13,342,220,418,208
8,398,396,414,9,135,345,466,145,46,91,...,151,142,94,400,368,168,31,397,68,105
9,413,269,267,55,403,333,111,202,79,22,...,352,132,156,394,368,436,37,166,256,496

2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

In [59]:
print('Sum of each row: {}'.format(rand_df.sum(axis=1)))

Sum of each row: 0    10834
1    13618
2    11677
3    13897
4    10993
5    12917
6    13625
7    11831
8    11047
9    13486
dtype: int64

In [60]:
#Sum of each column
print('Sum of each column: {}'.format(rand_df.iloc[:].sum()))

Sum of each column: 0     2706
1     2718
2     2415
3     1594
4     2294
5     2742
6     2350
7     2856
8     1929
9     2196
10    2163
11    2360
12    2699
13    1654
14    2802
15    1961
16    2153
17    1575
18    2260
19    3195
20    2939
21    3074
22    2963
23    2499
24    2529
25    2934
26    3010
27    2146
28    2026
29    3158
30    2667
31    3091
32    3098
33    2465
34    1792
35    2489
36    2541
37    2222
38    3553
39    2589
40    2117
41    1823
42    1226
43    3394
44    2859
45    2387
46    1985
47    3064
48    2372
49    2291
dtype: int64

In [61]:
#Sum of all entries
print('Sum of all entries: {}'.format(rand_df.values.sum()))

Sum of all entries: 123925

3. Determine the minimum; maximum; average; and standard deviation of all entries.

In [62]:
print('Minimum: {}'.format(rand_df.values.min()))
print('Maximum: {}'.format(rand_df.values.max()))
print('Average: {}'.format(rand_df.values.mean()))
print('Standard Deviation: {}'.format(rand_df.values.std()))

Minimum: 2
Maximum: 500
Average: 247.85
Standard Deviation: 141.28556720344793

4. Sort the DataFrame: 
- sort on column 2
- sort on row 2

In [63]:
#Sort by column 2
rand_df.sort_values(by=[2])

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,161,233,85,18,250,182,325,426,367,435,...,406,345,222,261,206,111,270,157,328,144
6,353,305,90,320,424,455,374,445,7,378,...,141,385,200,458,342,365,132,303,149,27
5,84,153,106,143,45,131,150,402,132,255,...,227,174,313,395,364,221,344,393,401,304
4,258,23,166,237,51,221,256,163,429,87,...,25,21,37,227,110,340,18,500,169,149
3,355,476,174,138,465,441,171,211,357,449,...,360,95,169,486,365,300,499,416,172,380
2,103,434,207,23,475,290,373,202,291,127,...,206,477,17,205,3,145,57,243,334,156
9,413,269,267,55,403,333,111,202,79,22,...,352,132,156,394,368,436,37,166,256,496
8,398,396,414,9,135,345,466,145,46,91,...,151,142,94,400,368,168,31,397,68,105
0,382,114,446,154,24,49,92,252,128,117,...,53,42,8,238,450,288,255,269,77,322
7,199,315,460,497,22,295,32,408,93,235,...,196,10,10,330,283,13,342,220,418,208

In [64]:
#Sort on row
rand_df.sort_values(by=[2],axis=1)

,15,44,34,42,3,16,46,13,10,28,...,6,31,20,11,29,21,1,4,41,32
0,122,450,332,8,154,251,255,460,328,207,...,92,45,140,23,152,180,114,24,42,245
1,259,206,420,222,18,240,270,162,34,207,...,325,364,259,273,399,253,233,250,345,477
2,2,3,16,17,23,47,57,59,62,75,...,373,386,389,395,417,420,434,475,477,500
3,175,365,133,169,138,159,499,171,55,342,...,171,92,286,303,485,177,476,465,95,305
4,161,110,214,37,237,237,18,43,485,90,...,256,429,390,322,351,319,23,51,21,71
5,107,364,284,313,143,335,344,118,389,124,...,150,470,329,78,69,434,153,45,174,314
6,154,342,213,200,320,195,132,109,110,238,...,374,302,2,92,170,402,305,424,385,455
7,83,283,42,10,497,12,342,2,393,341,...,32,410,451,479,476,401,315,22,10,456
8,423,368,95,94,9,407,31,40,37,274,...,466,438,303,259,175,70,396,135,142,31
9,475,368,43,156,55,270,37,490,270,128,...,111,155,390,136,464,418,269,403,132,244